.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.select {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    font-weight: 500;
    font-size: 16px;
}

.select option {
    padding-left: 4px;
}